<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/logo.webp" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Pet Finder</span
      >
    </a>

    <button
      type="button"
      class="md:hidden cursor-pointer inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-300 rounded-lg hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200"
      data-collapse-toggle="navbar-multi-level"
      aria-controls="navbar-multi-level"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      [ngClass]="user().id ? '' : 'md:hidden'"
      class="items-center justify-between hidden w-full md:flex md:w-auto"
      id="navbar-multi-level"
    >
      <!-- user()?'text-red-500':"text-red-900 -->
      <ul
        class="flex flex-col md:items-center font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 text-white"
      >
        @if(user().id){ @if(activeReport()){
        <li>
          <a
            routerLink="/report"
            routerLinkActive="text-blue-500 "
            class="hover:text-blue-500"
            [routerLinkActiveOptions]="{ exact: true }"
            >Reportes</a
          >
        </li>
        }

        <li>
          <a
            routerLink="/user/account"
            routerLinkActive="text-blue-500 "
            class="hover:text-blue-500"
            [routerLinkActiveOptions]="{ exact: true }"
            >Mis datos</a
          >
        </li>
        <li>
          <a
            routerLink="/user/myReport"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="text-blue-500 "
            class="hover:text-blue-500"
            >Mis reportes</a
          >
        </li>
        <li>
          <a
            routerLink="/user/newReport"
            routerLinkActive="text-blue-500 "
            class="hover:text-blue-500"
            [routerLinkActiveOptions]="{ exact: true }"
            >Reportar mascotas</a
          >
        </li>
        <li class="max-md:mt-4">
          <app-button color="red" title="Cerrar sesión" [handleClick]="handleLogOut" />
        </li>
        }@else {

        <li>
          <a
            routerLink="/login"
            routerLinkActive=" bg-blue-700!"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block py-2 px-3 text-white rounded-sm bg-transparent md:p-0"
            aria-current="page"
            >Iniciar sesión</a
          >
        </li>

        <li>
          <a
            routerLink="/signup"
            routerLinkActive=" bg-blue-700!"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block py-2 px-3 text-white rounded-sm bg-transparent md:p-0"
            >Crear cuenta</a
          >
        </li>
        }
      </ul>
    </div>
    @if(!user().id){
    <div class="flex gap-4 max-md:hidden">
      <app-button title="Iniciar sesión" routerLink="/login" />
      <app-button routerLink="/signup" color="purple" title="Crear cuenta" />
    </div>
    }
  </div>
</nav>
