/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@import 'flowbite/src/themes/default';

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

:root {
  --color-primary: #2563eb;
  --color-secondary: #1c1c35;
  --color-accent: #fbbf24;
  --color-background: #f3f4f6;
  --color-text: #111827;
}

body {
  background-color: var(--color-background);
}
